<!-- <section class="container">

    
    <form class="row g-3 text-end" [formGroup]="addItemForm" (ngSubmit)="addItem()">
        <div class="col-md-12">
            <label class="form-label">الاسم</label>
            <input type="text" class="form-control" name="name" formControlName="code"  >
            <div *ngIf="name?.invalid">
                <li *ngIf="name?.errors?.required">
                    required
                </li>
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">الكمية</label>
            <input type="number" class="form-control" name="quantity" formControlName="quantity">
        </div>
       
        <div class="col-md-12">
            <label class="form-label"> الوحدة</label>
            <select class="form-control" name="unit" type="text" formControlName="unit">
                <option value="kg">كيلو</option>
                <option value="liter">لتر</option>
            </select>
        </div>
        <div class="col-md-12">
            <label class="form-label"></label>
            <input class="form-control" name="wagabat" type="number" formControlName="wagabat">
        </div>
       
        <div class="col-12">
            <button class="btn btn-primary">تعديل </button>
        </div>
    </form>
    
    </section>
     -->