<footer>
    <div class="container row d-flex flex-row-reverse text-end">
        <div class="col-6 col-md-4 ">
            <h4 class="">
                <span >مؤسسة</span >
                <span class="zowad">زواد</span> </h4>
              <p class="m-0">Ipsum amet sed vero et lorem stet eos ut, 
                labore sed sed stet sea est ipsum ut. Volup amet ea sanct ipsum, 
                dolore vero lorem no duo eirmod. Eirmod amet ipsum no ipsum lorem clita ut.
                 Ut sed sit lorem ea lorem sed, amet stet sit sea ea diam tempor kasd kasd.
                  Diam nonumy etsit tempor ut sed diam sed et ea</p>
        </div>
        <div class="col-6 col-md-4 ">
            <p class=" mb-4">صفحاتنـــــا</p>
            <div class="d-flex flex-column justify-content-start">
                <a class=" mb-2" href="startLogIn.html">الرئيسية <i class="fa fa-angle-left mr-2"></i></a>
                <a class=" mb-2" href="balagh.html"> بلاغ حالة  <i class="fa fa-angle-left mr-2"></i></a>
                <a class=" mb-2" href="#"> الانجـــــازات <i class="fa fa-angle-left mr-2"></i></a>
                <a class=" mb-2" href="#">مـــن نحــن  <i class="fa fa-angle-left mr-2"></i></a>
            </div>
        </div>
        <div class="col-6 col-md-4 "> 
            <p class=" mb-4">تواصــل معنـــــا </p>
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-11"> <p>الزقازيق - شارع القومية - أمام البوابة الخلفية لمدرسة القومية </p></div>
              <div class="col-6 col-md-1"><i class="fa fa-map-marker-alt mr-2"></i></div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-11"> <p>+02 552346961 </p></div>
              <div class="col-6 col-md-1"><i class="fas fa-phone"></i></div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-11"> <p>Zwad.egypt@gmail.com </p></div>
              <div class="col-6 col-md-1"><i class="fa fa-envelope mr-2"></i></div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-11"> <p>للتبرع حســـاب بنــك مصر  رقم : 6565 </p></div>
              <div class="col-6 col-md-1"><i class="fas fa-comments-dollar"></i></div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 col-md-11"> <p>للتبرع على الارقام: 01206410665  , 01224688444 </p></div>
              <div class="col-6 col-md-1"><i class="fas fa-comments-dollar"></i></div>
            </div>
          
            <div class=" justify-content-start mt-4">
              <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://maps.app.goo.gl/z9M2U2oKFbPb61FYA"><i class="fas fa-map-marker-alt"></i></a>
                  
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://twitter.com/ZwadEgypy"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://m.facebook.com/zwad.egypt"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://api.whatsapp.com/send/?phone=201004700734"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="https://instagram.com/zwad_egypt"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
      </div>



  </footer>
  
  <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #111111; text-align: center;">
    <p> 
      ســـاعــات العـــمل
      طـــوال أيــــام الأسبــــوع
        مــن ١٠ صباحًـــا حتى ٦ مســـاءً  
      
        مـــا عــدا الجمـــعة
      .
        كــــل ايـــام الاسبـــوع طــوال شهــر رمضـــــان
       
       </p>
  </div>
